body {
    background-image:url("https://img.freepik.com/premium-vector/cute-giraffe-cartoon-with-beautiful-landscape_29190-3300.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}