body {
    background-image:url("https://qph.cf2.quoracdn.net/main-qimg-62ed713fc1ecf203de4da8ff71d84155-lq");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}